[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dq/Desktop/ClaseGit]
row=4
col=0

[/home/dq/Desktop/LinuxNotes.odt]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/dq]
row=2
col=0

